<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startlist - TFcross</title>
  </head>
  <body>
    <p class="title" id="gara"></p>
    <p class="entry1" id="1"></p>
    <p class="club1" id="c1"></p>
    <p class="entry2" id="2"></p>
    <p class="club2" id="c2"></p>
    <p class="entry3" id="3"></p>
    <p class="club3" id="c3"></p>
    <p class="entry4" id="4"></p>
    <p class="club4" id="c4"></p>
    <p class="entry5" id="5"></p>
    <p class="club5" id="c5"></p>
    <p class="entry6" id="6"></p>
    <p class="club6" id="c6"></p>
    <p class="entry7" id="7"></p>
    <p class="club7" id="c7"></p>
    <p class="entry8" id="8"></p>
    <p class="club8" id="c8"></p>
    <p class="entry9" id="9"></p>
    <p class="club9" id="c9"></p>

    <style>
      .title {
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 25px;
      }
      .entry1 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 50px;
      }
      .entry2 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 80px;
      }
      .entry3 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 110px;
      }
      .entry4 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 140px;
      }
      .entry5 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 170px;
      }
      .entry6 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 200px;
      }
      .entry7 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 230px;
      }
      .entry8 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 260px;
      }
      .entry9 {
        color: white;
        font-weight: bold;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 290px;
      }




      .club1 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 50px;
        padding-left: 300px;
      }
      .club2 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 80px;
        padding-left: 300px;
      }
      .club3 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 110px;
        padding-left: 300px;
      }
      .club4 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 140px;
        padding-left: 300px;
      }
      .club5 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 170px;
        padding-left: 300px;
      }
      .club6 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 200px;
        padding-left: 300px;
      }
      .club7 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 230px;
        padding-left: 300px;
      }
      .club8 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 260px;
        padding-left: 300px;
      }
      .club9 {
        color: white;
        position: absolute;
        font-family: "Roboto", sans-serif;
        font-family: "Ubuntu", sans-serif;
        font-size: 15px;
        padding-top: 290px;
        padding-left: 300px;
      }
    </style>
    <script>

      const socket = new WebSocket("<%= websocketURL %>");

      socket.addEventListener("message", (event) => {
        let jsonData = JSON.parse(event.data);

        if (jsonData.message == "startlist") {
          document.getElementById("gara").textContent = jsonData.gara;
          document.getElementById("1").textContent = jsonData.uno.toUpperCase();
          document.getElementById("2").textContent = jsonData.due.toUpperCase();
          document.getElementById("3").textContent = jsonData.tre.toUpperCase();
          document.getElementById("4").textContent = jsonData.qua.toUpperCase();
          document.getElementById("5").textContent = jsonData.cin.toUpperCase();
          document.getElementById("6").textContent = jsonData.sei.toUpperCase();
          document.getElementById("7").textContent = jsonData.set.toUpperCase();
          document.getElementById("8").textContent = jsonData.ott.toUpperCase();
          document.getElementById("9").textContent = jsonData.nov.toUpperCase();

          document.getElementById("c1").textContent = jsonData.unoClub;
          document.getElementById("c2").textContent = jsonData.dueClub;
          document.getElementById("c3").textContent = jsonData.treClub;
          document.getElementById("c4").textContent = jsonData.quaClub;
          document.getElementById("c5").textContent = jsonData.cinClub;
          document.getElementById("c6").textContent = jsonData.seiClub;
          document.getElementById("c7").textContent = jsonData.setClub;
          document.getElementById("c8").textContent = jsonData.ottClub;
          document.getElementById("c9").textContent = jsonData.novClub;
        } else {
          return;
        }
      });
    </script>
  </body>
</html>
